* {
  margin: 0;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Home Page */
.home-container {
  height: 100%;
  width: 100%;
}

.home-top-container {
  background-image: url("../Images/1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center;
  height: 63rem;
  width: 100%;
  position: relative;
  margin-bottom: 20rem;
}

.hills {
  transform: rotateY(180deg);
  transform: rotateX(180deg);
  position: absolute;
  bottom: 0px;
}

.dog-bone-img {
  height: 2.5rem;
  width: 2.5rem;
  position: absolute;
  top: 13rem;
  right: 43rem;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: dog-bone-img;
}

@keyframes dog-bone-img {
  0% {
    transform: scaleX(1) scaleY(1) translateX(0px) translateY(0px) rotate(0deg);
    opacity: 0.7;
  }

  50% {
    transform: scaleX(1.3) scaleY(1.3) translateX(0px) translateY(0px)
      rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: scaleX(1) scaleY(1) translateX(0px) translateY(0px) rotate(0deg);
    opacity: 0.7;
  }
}

.arrow-img {
  height: 9.375rem;
  width: 7.625rem;
  position: absolute;
  bottom: 19rem;
  left: 30rem;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: arrow-img;
}

@keyframes arrow-img {
  0% {
    transform: scaleX(1) scaleY(1) translateX(0px) translateY(0px) rotate(0deg);
  }

  50% {
    transform: scaleX(1) scaleY(1) translateX(20px) translateY(0px) rotate(0deg);
  }

  100% {
    transform: scaleX(1) scaleY(1) translateX(0px) translateY(0px) rotate(0deg);
  }
}

.star-img {
  height: 1.25rem;
  width: 1.25rem;
  position: absolute;
  top: 18rem;
  right: 6rem;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: star-img;
}

@keyframes star-img {
  0% {
    transform: scaleX(1) scaleY(1) translateX(0px) translateY(0px) rotate(0deg);
    opacity: 0.5;
  }

  50% {
    transform: scaleX(1.3) scaleY(1.3) translateX(0px) translateY(0px)
      rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: scaleX(1) scaleY(1) translateX(0px) translateY(0px) rotate(0deg);
    opacity: 0.5;
  }
}

.dog-footprints-img {
  height: 4rem;
  width: 4.4375rem;
  position: absolute;
  bottom: 20rem;
  right: 15rem;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 15rem;
  right: 7.5rem;
  position: absolute;
  width: 36%;
}

.welcome-title-top {
  font-family: "Comic-Gecko";
  font-size: 1.8rem;
  margin-bottom: 2.5rem;
  letter-spacing: 1px;
  color: #393d72;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: title-top;
}

@keyframes title-top {
}

@font-face {
  font-family: "Comic-Gecko";
  src: url("Comic-Gecko.ttf.woff") format("woff"),
    url("Comic-Gecko.ttf.svg#Comic-Gecko") format("svg"),
    url("Comic-Gecko.ttf.eot"),
    url("Comic-Gecko.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MikadoBold";
  src: url("MikadoBold.otf");
}

.welcome-title-bottom-start {
  font-family: "Comic-Gecko";
  font-weight: normal;
  font-style: normal;
  font-size: 4rem;
  color: #393d72;
}

.welcome-title-bottom-end {
  font-family: "Comic-Gecko";
  font-weight: normal;
  font-style: normal;
  font-size: 4rem;
  color: #393d72;
  margin-top: -0.5rem;
  /* background: -webkit-linear-gradient(right, rgb(255, 145, 86), rgb(224, 245, 36));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.Login-Btn {
  color: #ffffff;
  background-color: #ff4880;
  border: none;
  border-radius: 20px;
  text-align: center;
  font-family: "MikadoBold";
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 10px 0px 0px;
  padding: 0.8125rem 4rem;
  width: fit-content;
  transition-duration: 0.2s;
}

.Login-Btn:hover {
  background-color: #ffae00;
}

/* home welcome */
.home-welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.home-welcome-heading {
  font-family: "MikadoBold";
  font-weight: normal;
  font-style: normal;
  color: #393d72;
  justify-content: center;
  align-items: center;
  font-size: 3.125rem;
}

.home-welcome-content {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 45rem;
}

.home-welcome-img {
  width: 50%;
  padding-left: 30px;
  padding-right: 15px;
  height: auto;
  margin: 0 auto;
  position: relative;
}

.petImg2 {
  position: absolute;
  top: 5rem;
  left: 5rem;
  animation-duration: 1s;
  animation-fill-mode: both;
  clip-path: path(
    "M500.45,77.07c-55.98-22.78-120.41-2.72-178.53-11.01C260.98,57.36,187.26,7.27,129.2,1.51C-38.98-15.15-22.16,177.84,63.12,286.89C422.79,746.83,740.54,174.75,500.45,77.07z"
  );
}

@keyframes petImg2-hover {
  0% {
    transform: scaleX(1) scaleY(1) translateX(0px) translateY(0px) rotate(0deg);
  }

  100% {
    transform: scaleX(1.2) scaleY(1.2) translateX(0px) translateY(40px)
      rotate(10deg);
  }
}

@keyframes petImg2-unhover {
  0% {
    transform: scaleX(1.2) scaleY(1.2) translateX(0px) translateY(40px)
      rotate(10deg);
  }

  100% {
    transform: scaleX(1) scaleY(1) translateX(0px) translateY(0px) rotate(0deg);
  }
}

.petImg3 {
  position: absolute;
  top: 5rem;
  left: 5rem;
  height: 30rem;
  width: 40rem;
  background-color: #b1b1b142;
  animation-duration: 1s;
  animation-fill-mode: both;
  clip-path: path(
    "M478.57,0.4c-99.74,0-116.28,76.85-191.72,116.59C201.86,161.75,23.42,124.9,2.21,244.6c-30.14,170.07,266.27,253.45,389.84,175.18c78.22-49.54,203.58-206.77,205.54-299.42C599.07,49.77,552.22,0.4,478.57,0.4z"
  );
}

@keyframes petImg3-hover {
  0% {
    transform: scaleX(1) scaleY(1) translateX(0px) translateY(0px) rotate(0deg);
  }

  100% {
    transform: scaleX(1) scaleY(0.9) translateX(0px) translateY(20px)
      rotate(-5deg);
  }
}

@keyframes petImg3-unhover {
  0% {
    transform: scaleX(1) scaleY(0.9) translateX(0px) translateY(20px)
      rotate(-5deg);
  }

  100% {
    transform: scaleX(1) scaleY(1) translateX(0px) translateY(0px) rotate(0deg);
  }
}

.home-welcome-text {
  width: 50%;
  padding: 1rem;
}

.home-welcome-text-top {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #858687;
  text-align: left;
  padding-top: 4rem;
  padding-left: 5rem;
  padding-right: 6rem;
  box-sizing: border-box;
  line-height: 1.875em;
}

.home-welcome-text-middle {
  padding-left: 5rem;
  padding-top: 1.5rem;
  list-style-type: none;
}
.home-welcome-icon-text {
  font-family: MikadoBold;
  color: #393d72;
  font-size: 1rem;
  line-height: 2.5rem;
  justify-content: left;
}

.home-welcome-icon-text-line {
  padding-left: 1.5rem;
}
.checkIcon {
  color: #ff4880;
}

.learn-more-button {
  font-family: "MikadoBold";
  font-size: 0.875rem;
  color: #ffffff;
  background-color: #ff4880;
  border: none;
  border-radius: 20px;
  text-align: center;
  padding: 0.8125rem 2.5rem;
  margin-left: 5rem;
  margin-top: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.learn-more-button:hover {
  color: #ff4880;
  background-color: #ffffff;
  border: 1px solid #ff4880;
}

/* photo gallery */
.home-photo-gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 10rem;
}

.photo-gallery-heading-top {
  font-family: "MikadoBold";
  font-size: 1.375rem;
  color: #ff4880;
}

.photo-gallery-heading-bottom {
  font-family: "MikadoBold";
  color: #393d72;
  font-size: 3.125rem;
  padding: 1rem;
  margin-bottom: -150px;
}

.photo-gallery-image-container {
  margin: 2rem 3rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  padding-left: 7rem;
  padding-right: 7rem;
}

.photo-gallery-image {
  height: 14rem;
  width: 14rem;
  border-radius: 20px;
  margin-bottom: 40px;
  transition: 2s all ease-in-out;
}

.photo-gallery-image:hover {
  transform: scale(1.1);
  transition-duration: 2s;
}

.photo-gallery-image-col-2,
.photo-gallery-image-col-4 {
  margin-top: 150px;
  overflow: hidden;
  border-radius: 20px;
}

.photo-gallery-image-col-3 {
  margin-top: 350px;
  overflow: hidden;
  border-radius: 20px;
}

.photo-gallery-image-col-1,
.photo-gallery-image-col-6 {
  overflow: hidden;
}

/* Pet of the Week */
.home-pet-of-the-week-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.pet-of-the-week-heading-top {
  font-family: "MikadoBold";
  font-size: 1.375rem;
  color: #ff4880;
}

.pet-of-the-week-heading-bottom {
  font-family: "MikadoBold";
  color: #393d72;
  font-size: 3.125rem;
  padding: 1rem;
  margin-bottom: 70px;
}

.pet-of-the-week-card {
  display: flex;
  width: 100%;
}

.pet-of-the-week-card-left {
  width: auto;
  margin-left: 7rem;
  position: relative;
}

.pet-of-the-week-card-right {
  width: 60%;
  margin-right: 7rem;
  padding-top: 6rem;
  padding-left: 5rem;
  padding-right: 2rem;
}

.pet-of-the-week-frame {
  height: 40rem;
  width: 40rem;
}

.pet-of-the-week-image-container {
  overflow: hidden;
  height: 79%;
  width: 84%;
  position: absolute;
  top: 68px;
  left: 67px;
  border-radius: 50%;
}

.pet-of-the-week-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  transition: 2s all ease-in-out;
}

.pet-of-the-week-image:hover {
  transform: scale(1.1);
  transition-duration: 2s;
}

.pet-name {
  font-family: "MikadoBold";
  color: #ffae01;
  font-size: 1.7rem;
}

.pet-bio {
  font-family: "Montserrat", sans-serif;
  color: #858687;
  font-size: 1rem;
  text-align: left;
  padding-top: 1rem;
  box-sizing: border-box;
  line-height: 1.875em;
}

.pet-of-the-week-button {
  color: #ffffff;
  background-color: #ff4880;
  border: none;
  border-radius: 20px;
  text-align: center;
  font-family: "MikadoBold";
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 10px 0px 0px;
  padding: 13px 40px;
}

.pet-of-the-week-button:hover {
  color: #ff4880;
  background-color: #ffffff;
  border: 1px solid #ff4880;
}

/* Clients Testimonias */
.clients-testimonias-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 10rem;
  margin-bottom: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.clients-testimonias-heading {
  font-family: "MikadoBold";
  color: #393d72;
  font-size: 3.125rem;
  padding: 1rem;
  margin-bottom: 3.5rem;
}

.clients-testimonias-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  flex-flow: row nowrap;
}

.clients-testimonias-person {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.clients-testimonias-person-image {
  height: 5rem;
  width: 5rem;
  margin-bottom: 0.3rem;
}

.clients-testimonias-person-name {
  font-family: "MikadoBold";
  color: #ff4880;
  font-size: 1.3rem;
  font-weight: bolder;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-sizing: border-box;
  line-height: 2.5rem;
}

.clients-testimonias-person-recommendation {
  font-family: "Montserrat", sans-serif;
  color: #858687;
  font-size: 1rem;
  padding-top: 1rem;
  box-sizing: border-box;
  line-height: 1.67rem;
}

/* footer */
.footer-container {
  background-image: url("../Images/footer-bg-01.png");
  height: 32rem;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-main {
  width: 100%;
  padding: 1rem;
  margin-top: 6rem;
  display: flex;
}

.footer-social-media,
.footer-contact-us,
.footer-working-hours,
.footer-newsletter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 25%;
  margin-left: 1rem;
  margin-right: 1rem;
}

.footer-social-media {
  margin-left: 5rem;
}

.footer-newsletter {
  margin-right: 5rem;
}

.footer-social-media-top {
  display: flex;
}

.footer-logo {
  height: 50px;
  width: 60px;
  border-radius: 50%;
  margin-right: 1rem;
  margin-top: 1rem;
}

.social-media-header,
.contact-us-header,
.working-hours-header,
.newsletter-header {
  font-family: "MikadoBold";
  color: #393d72;
  font-size: 2rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.footer-social-media-text {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
  color: #858687;
  font-size: 15px;
  box-sizing: border-box;
  line-height: 1.5rem;
}

.footer-social-media-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin-top: 1rem;
}

.twitter-link,
.facebook-link,
.instagram-link,
.youTube-link {
  color: #818a91;
  border-radius: 50%;
  background-color: #fff;
  padding: 7px;
}

.twitter-link:hover,
.facebook-link:hover,
.instagram-link:hover,
.youTube-link:hover {
  background-color: #ff4880;
  color: #fff;
  cursor: pointer;
  transition-duration: 0.7s;
}

.contact-us-info-container {
  display: flex;
  flex-direction: column;
}

.contact-us-contact {
  margin-bottom: 1rem;
}

.contact-us-logo {
  color: #ff4880;
  margin-right: 1rem;
}

.contact-us-info {
  font-family: "MikadoBold";
  color: #393d72;
  font-size: 1rem;
}

.working-hours-text {
  font-family: "Montserrat", sans-serif;
  color: #858687;
  font-size: 15px;
  box-sizing: border-box;
  line-height: 1.5rem;
  padding-bottom: 1rem;
}

.newsletter-input {
  width: 100%;
  background-color: #f5efe7;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 12px 15px 12px 15px;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  color: #858687;
  outline: none;
}

.newsletter-button {
  color: #ffffff;
  background-color: #ff4880;
  border: none;
  border-radius: 20px;
  text-align: center;
  font-family: "MikadoBold";
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 10px 0px 0px;
  padding: 13px 40px;
}

.newsletter-button:hover {
  background-color: #ffae00;
}

.footer-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-bottom-breaking-line {
  width: 90%;
  border-top: 1px solid black;
  opacity: 0.2;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.footer-bottom-copyright {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
}

.footer-copyright-text {
  color: #858687;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

.footer-copyright-text:hover {
  color: #5c5c5d;
  cursor: pointer;
}

.terms-of-use:hover,
.privacy-policy:hover {
  text-decoration: underline;
}

/* nav bar */
.navBar {
  width: 100%;
  height: 4rem;
  background-color: #ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-bar-logo {
  height: 50px;
  width: 60px;
  border-radius: 50%;
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.nav-bar-logo-text {
  font-family: "MikadoBold";
  color: #ffae00;
  font-size: 1.5rem;
  padding-bottom: 1rem;
  padding-top: 1.5rem;
}

.nav-links {
  display: flex;
  list-style-type: none;
  padding-top: 1.5rem;
}

.link {
  font-family: "MikadoBold";
  color: #393d72;
  font-size: 1.1rem;
  text-decoration: none;
  padding: 0px 2.5rem;
}

.link:hover {
  text-decoration: underline;
  color: #ff4880;
}

/* signup and login */
.SignupForm,
.loginForm {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  padding: 1.875rem 3rem;
}

.login-header, .signup-header {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.signup-modal-bottom,
.login-modal-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.signup-buttons,
.login-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 22rem;
  padding-top: 1rem;
}

.signup-login-btn {
  font-size: 1rem;
  color: #ffffff;
  background-color: #ff4880;
  border: none;
  border-radius: 20px;
  text-align: center;
  letter-spacing: 0.1rem;
  padding: 0.8125rem 2.5rem;
  /* margin-bottom: 1rem; */
}

.signup-login-btn:hover {
  color: #ff4880;
  background-color: #ffffff;
  border: 1px solid #ff4880;
}

.link-signup {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  padding-top: 1.5rem;
}

/* admin pages */
.admin-add-pet-container {
  margin: 20px;
  width: 70%;
}
.admin-add-pet-form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.add-pet-buttons-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.admin-dashboard-pets-container {
  font-size: 17px;
  width: 80%;
}

.users-list,
.pets-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.edit-icon {
  margin-right: 2rem;
  margin-left: 2rem;
  margin-top: 0.4rem;

  transition-duration: 0.1s;
}

.edit-icon:hover {
  transform: scale(1.5);
  transition-duration: 0.2s;
  cursor: pointer;
}

.add-pet-button-link,
.add-pet-buttons {
  color: white;
  background-color: #119b76;
  font-size: 18px;
  border: none;
  padding: 0.4vh 1vw;
  border-radius: 15px;
  width: 8vw;
  height: 3vw;
}

.add-pet-button-link:hover,
.add-pet-buttons:hover {
  background-color: #07b687;
  cursor: pointer;
}

.pets-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.pet {
  border: 1px solid #404040;
  margin: 1rem;
}

/* edit page */
.admin-add-pet-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pet-img {
  border-radius: 50%;
}

/* Search */
.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.search-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-header-text {
  font-family: "MikadoBold";
  color: #393d72;
  font-size: 3rem;
}

.pets-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pet-icon {
  margin-right: 2rem;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  transition-duration: 0.1s;
  padding: 0.5rem;
}

.pet-icon:hover {
  transform: scale(1.5);
  transition-duration: 0.2s;
  cursor: pointer;
}

.dog-icon {
  color: #00a277;
}

.cat-icon {
  color: black;
}

.horse-icon {
  color: rgb(224, 53, 53);
}

.dolphin-icon {
  color: rgb(23, 80, 250);
}

.tiger-icon {
  color: #ffae00;
}

.advanced-search-checkbox {
  font-family: "MikadoBold";
  font-size: 1.2rem;
  color: #393d72;
}

.advanced-search-container {
  margin-top: 1rem;
}

.search-field {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  color: #858687;
}

.search-pet-btn-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

.search-pet-btn {
  font-family: "MikadoBold";
  font-size: 0.875rem;
  color: #ffffff;
  background-color: #ff4880;
  border: none;
  border-radius: 20px;
  text-align: center;
  padding: 0.8125rem 2.5rem;
  margin: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.search-pet-btn:hover {
  color: #ff4880;
  background-color: #ffffff;
  border: 1px solid #ff4880;
}

.search-pet-results {
  display: block;
  padding-left: 3rem;
  padding-right: 3rem;
}

.search-no-result-text {
  font-family: "MikadoBold";
  font-size: 2rem;
  color: #393d72;
  padding: 1rem;
}

/* pet-card */
.pet-card-container {
  margin-top: 10px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pet-card {
  margin: 2rem;
}

.card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pet-card-info {
  display: flex;
  flex-direction: column;
  justify-content: left;
  font-size: 20px;
}

.pet-info {
  margin: 1px 0;
}

.pet-card-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.pet-card-button {
  color: white;
  background-color: rgb(21, 151, 21);
  font-size: 20px;
  border: none;
  padding: 2vh 4vw;
  margin: 0 12px;
  border-radius: 15px;
}

.pet-card-button:hover {
  background-color: rgb(5, 109, 5);
  cursor: pointer;
}

.pet-card-list {
  width: 100%;
}

.my-pets {
  width: 30% !important;
}

/* my pets page */
.my-pets-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
